.inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fff;
  font-size: 15px; }

.glyphicon {
  margin-right: 5px; }

#left-column {
  border-top: 1px solid #ccc; }
  #left-column .inner-header {
    background-color: #87AFC6; }
  #left-column .search-container {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc; }
    #left-column .search-container .stylish-input-group .input-group-addon {
      background: white !important;
      color: #aaa; }
    #left-column .search-container .stylish-input-group .form-control {
      border-right: 0;
      box-shadow: 0 0 0;
      border-color: #ccc; }
  #left-column #trash-can {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 100px;
    background: url("./img/remove.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
    #left-column #trash-can:hover {
      background-color: red; }

/*
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle

*/
#middle-column {
  height: 900px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  #middle-column .inner-header {
    background-color: #8CB6CF; }
  #middle-column #class-container {
    position: relative;
    height: 50px;
    line-height: 80px;
    background: #9DABAA;
    text-align: center; }
    #middle-column #class-container .search-container {
      position: absolute;
      top: 10px;
      right: 5px;
      width: 160px; }
      #middle-column #class-container .search-container .stylish-input-group .input-group-addon {
        background: white !important;
        color: #aaa; }
      #middle-column #class-container .search-container .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
        height: 30px;
        border-radius: 5px; }
    #middle-column #class-container .class-icon {
      display: inline-block;
      margin: 5px 10px;
      width: 30px;
      height: 30px; }
    #middle-column #class-container #male-icon {
      background: url("./img/style_men.png") no-repeat center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; }
      #middle-column #class-container #male-icon:hover {
        background: url("./img/style_men_hover.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        cursor: pointer; }
    #middle-column #class-container #female-icon {
      background: url("./img/style_women.png") no-repeat center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; }
      #middle-column #class-container #female-icon:hover {
        background: url("./img/style_women_hover.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        cursor: pointer; }
    #middle-column #class-container #sport-icon {
      background: url("./img/style_sport.png") no-repeat center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; }
      #middle-column #class-container #sport-icon:hover {
        background: url("./img/style_sport_hover.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        cursor: pointer; }
  #middle-column #store-container {
    position: relative; }
    #middle-column #store-container .carousel-control {
      background-image: none;
      color: #888; }
    #middle-column #store-container #myCarousel .glyphicon {
      font-size: 20px; }
    #middle-column #store-container .item {
      height: 60px;
      text-align: center; }
  #middle-column #slide-combination {
    width: 100%; }
    #middle-column #slide-combination #current-item-container {
      width: 100%;
      height: 160px;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #ccc; }
    #middle-column #slide-combination .combination {
      display: flex;
      align-items: center;
      padding-left: 30px;
      border-bottom: 1px solid #ccc;
      overflow-x: auto; }
      #middle-column #slide-combination .combination .no-fav {
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        margin-right: 30px;
        background: url("./img/fav.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; }
        #middle-column #slide-combination .combination .no-fav:hover {
          cursor: pointer; }
      #middle-column #slide-combination .combination .fav {
        margin-right: 30px;
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        margin-right: 30px;
        background: url("./img/fav_hover.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; }
        #middle-column #slide-combination .combination .fav:hover {
          cursor: pointer; }
  #middle-column #slide-bookmark {
    width: 100%; }
    #middle-column #slide-bookmark .combination {
      display: flex;
      align-items: center;
      padding-left: 30px;
      border-bottom: 1px solid #ccc;
      overflow-x: auto; }
      #middle-column #slide-bookmark .combination .no-fav {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        margin-right: 30px;
        background: url("./img/fav.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; }
        #middle-column #slide-bookmark .combination .no-fav:hover {
          cursor: pointer; }
      #middle-column #slide-bookmark .combination .fav {
        margin-right: 30px;
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        background: url("./img/fav_hover.png") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; }
        #middle-column #slide-bookmark .combination .fav:hover {
          cursor: pointer; }

/*
* right
* right
* right
* right
* right
* right
* right
* right
* right
* right
* right
*/
#right-column {
  height: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  #right-column .inner-header {
    background-color: #A5C6DD; }
  #right-column #focus-item-container {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; }
    #right-column #focus-item-container #focus-item-img {
      margin-top: 25px;
      max-width: 70%;
      border: 1px solid #ccc;
      padding: 12px 10px; }
    #right-column #focus-item-container #size-container {
      text-align: center; }
      #right-column #focus-item-container #size-container span {
        display: inline-block;
        color: #555;
        background-color: #ccc;
        width: 40px;
        height: 25px;
        line-height: 25px;
        margin: 12px 4px; }
    #right-column #focus-item-container #focus-item-title {
      font-weight: bold;
      font-size: 18px;
      color: black; }
    #right-column #focus-item-container #focus-item-note {
      margin-top: 12px;
      margin-bottom: 24px;
      font-size: 12px; }
    #right-column #focus-item-container #focus-item-price {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14px;
      font-weight: bold;
      font-size: 26px; }
      #right-column #focus-item-container #focus-item-price #focus-item-sales {
        right: 100px;
        background-color: #e66;
        color: white;
        font-weight: normal;
        font-size: 12px;
        width: 40px;
        height: 20px;
        line-height: 20px;
        margin-left: 20px; }
    #right-column #focus-item-container #focus-item-buy-btn {
      margin-top: 18px;
      padding: 5px 60px;
      background-color: #9BBAC0;
      color: white; }
      #right-column #focus-item-container #focus-item-buy-btn:hover {
        background-color: #80B0B0; }
    #right-column #focus-item-container #focus-item-sample-container {
      text-align: center; }
      #right-column #focus-item-container #focus-item-sample-container .focus-item-sample-img {
        width: 90%;
        margin: 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 8px 0;
  padding: 0; }

.title {
  color: #EF9292;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.block {
  margin-bottom: 30px; }

.item-container {
  display: inline-block;
  width: 90px;
  height: auto;
  margin: 10px 10px; }
  .item-container .item-img {
    width: 100%;
    border: 1px solid #aaa;
    min-width: 100%; }
    .item-container .item-img:hover {
      cursor: pointer;
      outline: 2px solid deepskyblue; }
  .item-container .item-text {
    width: 100%;
    margin-top: 5px;
    color: #888;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.focus-item-panel {
  width: 100%;
  border: 1px solid #bbb;
  background-color: white; }

#item-detail-panel {
  background-color: white;
  height: 200px;
  text-align: start;
  padding: 15px 20px;
  line-height: 1.9;
  color: #999; }
  #item-detail-panel #title {
    color: #5581A2; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:focus {
  background-color: #bff; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover {
  background-color: #bff; }

#alert-hint-container {
  z-index: 1000;
  position: fixed;
  right: 10px;
  bottom: 16px;
  height: 130px;
  width: 250px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #888888; }
  #alert-hint-container #alert-hint-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #595;
    font-weight: bold; }

#show-big-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px; }
