.inner-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    font-size: 15px;
}

.glyphicon {
    margin-right: 5px;
}

#left-column {
    border-top: 1px solid #ccc;
    .inner-header {
        background-color: #87AFC6;
    }
    // search bar
    .search-container {
        padding: 8px 15px;
        border-bottom: 1px solid #ccc;
        .stylish-input-group .input-group-addon {
            background: white !important;
            color: #aaa;
        }
        .stylish-input-group .form-control {
            border-right: 0;
            box-shadow: 0 0 0;
            border-color: #ccc;
        }
    }
    #trash-can {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        position: fixed;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-bottom: 100px;
        background: url('./img/remove.png') no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        &:hover {
            background-color: red;
        }
    }
}


/*
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle
* middle

*/

#middle-column {
    height: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    .inner-header {
        background-color: #8CB6CF;
    }
    #class-container {
        position: relative;
        height: 50px;
        line-height: 80px;
        background: #9DABAA;
        text-align: center;
        .search-container {
            position: absolute;
            top: 10px;
            right: 5px;
            width: 160px;
            // padding: 8px 15px;
            .stylish-input-group .input-group-addon {
                background: white !important;
                color: #aaa;
            }
            .stylish-input-group .form-control {
                border-right: 0;
                box-shadow: 0 0 0;
                border-color: #ccc;
                height: 30px;
                border-radius: 5px;
            }
        }
        .class-icon {
            display: inline-block;
            margin: 5px 10px;
            width: 30px;
            height: 30px;
        }
        #male-icon {
            background: url('./img/style_men.png') no-repeat center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            &:hover {
                background: url('./img/style_men_hover.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                cursor: pointer;
            }
        }
        #female-icon {
            background: url('./img/style_women.png') no-repeat center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            &:hover {
                background: url('./img/style_women_hover.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                cursor: pointer;
            }
        }
        #sport-icon {
            background: url('./img/style_sport.png') no-repeat center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            &:hover {
                background: url('./img/style_sport_hover.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                cursor: pointer;
            }
        }
    }
    #store-container {
        position: relative;
        .carousel-control {
            background-image: none;
            color: #888;
        }
        #myCarousel {
            .glyphicon {
                font-size: 20px;
            }
        }
        .item {
            height: 60px;
            text-align: center;
        }
    }
    // combination
    // combination
    // combination
    // combination
    // combination
    #slide-combination {
        width: 100%;
        #current-item-container {
            width: 100%;
            height: 160px;
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid #ccc;
        }
        .combination {
            display: flex;
            align-items: center;
            padding-left: 30px;
            border-bottom: 1px solid #ccc;
            overflow-x: auto;
            .no-fav {
                width: 40px;
                min-width: 40px;
                height: 40px;
                min-height: 40px;
                margin-right: 30px;
                background: url('./img/fav.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                &:hover {
                    width: 40px;
                    height: 40px;
                    background: url('./img/fav_hover.png') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    cursor: pointer;
                }
            }
            .fav {
                margin-right: 30px;
                width: 40px;
                height: 40px;
                background: url('./img/fav_hover.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    #slide-bookmark {
        width: 100%;
        .combination {
            display: flex;
            align-items: center;
            padding-left: 30px;
            border-bottom: 1px solid #ccc;
            .no-fav {
                width: 40px;
                height: 40px;
                margin-right: 30px;
                background: url('./img/fav.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                &:hover {
                    width: 40px;
                    height: 40px;
                    background: url('./img/fav_hover.png') no-repeat center center;
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    cursor: pointer;
                }
            }
            .fav {
                margin-right: 30px;
                width: 40px;
                height: 40px;
                background: url('./img/fav_hover.png') no-repeat center center;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


/*
* right
* right
* right
* right
* right
* right
* right
* right
* right
* right
* right
*/

#right-column {
    border-top: 1px solid #ccc;
    .inner-header {
        background-color: #A5C6DD;
    }
    #focus-item-container {
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        #focus-item-img {
            margin-top: 25px;
            max-width: 70%;
            border: 1px solid #ccc;
            padding: 12px 10px;
        }
        #size-container {
            text-align: center;
            span {
                display: inline-block;
                color: #555;
                background-color: #ccc;
                width: 40px;
                height: 25px;
                line-height: 25px;
                margin: 12px 4px;
            }
        }
        #focus-item-title {
            font-weight: bold;
            font-size: 18px;
            color: black;
        }
        #focus-item-note {
            margin-top: 12px;
            margin-bottom: 24px;
            font-size: 12px;
        }
        #focus-item-price {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 14px;
            font-weight: bold;
            font-size: 26px;
            #focus-item-sales {
                // position: absolute;
                right: 100px;
                background-color: #e66;
                color: white;
                font-weight: normal;
                font-size: 12px;
                width: 40px;
                height: 20px;
                line-height: 20px;
                margin-left: 20px;
            }
        }
        #focus-item-buy-btn {
            margin-top: 18px;
            padding: 5px 60px;
            background-color: #9BBAC0;
            color: white;
            &:hover {
                background-color: #80B0B0;
            }
        }
        #focus-item-sample-container {
            text-align: center;
            .focus-item-sample-img {
                width: 90%;
                margin: 10px;
            }
        }
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 8px 0;
    padding: 0;
}

.title {
    color: #EF9292;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.block {
    margin-bottom: 30px;
}

.item-container {
    display: inline-block;
    width: 90px;
    height: auto;
    margin: 10px 10px;
    .item-img {
        width: 100%;
        border: 1px solid #aaa;
        min-width: 100%;
        &:hover {
            cursor: pointer;
            outline: 2px solid deepskyblue;
        }
    }
    .item-text {
        width: 100%;
        margin-top: 5px;
        color: #888;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// .tab-area {
//     margin-top: 15px;
// }
//
.focus-item-panel {
    width: 100%;
    border: 1px solid #bbb;
    background-color: white;
}

#item-detail-panel {
    background-color: white;
    height: 200px;
    text-align: start;
    padding: 15px 20px;
    line-height: 1.9;
    color: #999;
    #title {
        color: #5581A2;
    }
}

//
// #recommend-panel {
//     background-color: white;
//     border-radius: 5px;
//     padding: 10px;
//     height: 400px;
//     overflow: scroll;
//     overflow-x: hidden;
//     .combination {
//         margin-bottom: 20px;
//         border-radius: 5px;
//         border: 1px solid #aaa;
//         // display: flex;
//         height: auto;
//         position: relative;
//         .favorite-icon {
//             position: absolute;
//             width: 30px;
//             height: 30px;
//             top: 10px;
//             right: 10px;
//             &:hover {
//                 cursor: pointer;
//             }
//         }
//     }
// }
// .dropdown-container {
//     display: flex;
//     justify-content: space-around;
//     margin: 16px 0;
// }
.dropdown-menu>,
.dropdown-menu> {
    li:hover {}
    li>a {
        // width: 100%;
    }
    li>a:focus {
        background-color: #bff
    }
    li>a:hover {
        background-color: #bff
    }
}

#alert-hint-container {
    z-index: 1000;
    position: fixed;
    right: 10px;
    bottom: 16px;
    height: 130px;
    width: 250px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #888888;
    #alert-hint-text {
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        font-size: 30px;
        color:#595;
        font-weight:bold;
    }
}
