#left-column .nav-tabs, #middle-column .nav-tabs {
  margin-top: 3px; }
  #left-column .nav-tabs li, #middle-column .nav-tabs li {
    width: 20%;
    height: 50px;
    background-color: #eee; }
    #left-column .nav-tabs li a, #middle-column .nav-tabs li a {
      color: #999;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      padding: 4px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px; }
      #left-column .nav-tabs li a:focus, #middle-column .nav-tabs li a:focus {
        background-color: #fff; }
      #left-column .nav-tabs li a:active, #middle-column .nav-tabs li a:active {
        background-color: #fff; }

#left-column .tab-content, #middle-column .tab-content {
  height: 100%; }

#left-column .tab-pane, #middle-column .tab-pane {
  padding-bottom: 300px;
  height: 100%;
  overflow-y: scroll; }
